<template>
  <v-card>
    <v-card-title class="headline">{{ name }}</v-card-title>
    <v-divider></v-divider>

    <div class="charger-container pa-4">
      <v-switch
        :label="`${chargerStatus ? 'Włączona' : 'Wyłączona'}`"
        v-model="chargerStatus"
      ></v-switch>
    </div>

  </v-card>
</template>

<script>
  export default {
    name: 'charger-controller',
    data() {
      return {
        name: 'Ładowarka',
        chargerStatus: false
      }
    },
    watch: {
      chargerStatus() {
        var code = this.chargerStatus ? 'c1' : '00'
        console.log(code)

        this.$http.post('/serialport', {
          code: code
        })
        .then(function (response) {
          console.log(response.body);
        })
        .catch(function (error) {
          console.log(error);
        });
      }
    }
  }
</script>

<style scoped>

</style>
