<template>
  <v-container grid-list-lg>
    <v-layout row wrap>

      <v-flex xs6>
        <lock-controller></lock-controller>
      </v-flex>

      <v-flex xs6>
        <charger-controller></charger-controller>
      </v-flex>

      <v-flex xs12>
        <lights-controller></lights-controller>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import LightsController from './LightsController'
  import LockController from './LockController'
  import ChargerController from './ChargerController'

  export default {
    name: 'desk-controller',
    components: { LightsController, LockController, ChargerController },
    data() {
      return {
        name: 'DeskController'
      }
    }
  }
</script>

<style scoped>

</style>
