<template>
  <section>
    <v-dialog v-model="dialog" transition="dialog-bottom-transition"
      fullscreen hide-overlay>

      <v-card tile>
        <v-toolbar card dark color="primary">
          <v-btn icon dark @click.native="closeDialog">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-container>
          <v-layout row wrap>
            <v-flex xs7 offset-xs1>
              <v-text-field
                ref="keyboardInput"
                v-model="value"
                :rules="rules"
                @focus="activeKeyboard"
                :label="el ? el.labels[0].innerText : 'Text'"
              ></v-text-field>
            </v-flex>

            <v-flex xs2 offset-xs1>
              <v-btn color="success" @click.prevent="sendInputContent" outline>Zapisz</v-btn>
            </v-flex>

            <v-flex xs12>
              <touch-keyboard
                id="keyboard"
                :layout="'normal'"
                :input="keyboardInput"
                @currentText="value = $event"
              ></touch-keyboard>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>

    </v-dialog>
  </section>
</template>

<script>
  import { KeyboardBus }  from '../main.js'

  import TouchKeyboard    from './Widgets/Keyboard/TouchKeyboard'

  export default {
    name: 'keyboard-dialog',
    components: { TouchKeyboard },
    data: () => ({
      name: 'Keyboard Dialog',
      dialog: false,
      keyboardInput: null,
      el: null,
      rules: [],
      value: ""
    }),
    created() {
      KeyboardBus.$on('keyboard-open', (payload) => {
        this.dialog = payload.isOpen
        this.el = payload.target
        this.rules = payload.inputRules
        this.value = payload.target.value
      })
    },
    methods: {
      activeKeyboard(e) {
        this.keyboardInput = e.target;
      },

      closeDialog() {
        this.dialog = false
        this.keyboardInput = null
      },

      sendInputContent(e) {
        KeyboardBus.$emit(this.el.id, this.value)
        this.dialog = false
      }
    }
  }
</script>

<style scoped>

</style>
