<template>
  <v-card>
    <v-card-title class="headline">{{ name }}</v-card-title>
    <v-divider></v-divider>

    <div class="light-container pa-4">
      <v-btn-toggle v-model="currentColor">
        <v-btn v-for="color in colors" :color="color.val" :value="color.id" flat large>
          <v-icon>stop</v-icon>
        </v-btn>
      </v-btn-toggle>
      <span class="title px-4">{{ currentColor ? colors[currentColor - 1].label : 'Wyłączone' }}</span>
    </div>

  </v-card>
</template>

<script>
  export default {
    name: 'lights-controller',
    data() {
      return {
        name: 'Oświetlenie LED',
        colors: [
          { id: 1, symbol: 'r', val: 'red', label: 'Czerwone' },
          { id: 2, symbol: 'g', val: 'green', label: 'Zielone' },
          { id: 3, symbol: 'y', val: 'yellow', label: 'Żółte' }
        ],
        currentColor: null
      }
    },
    watch: {
      currentColor() {
        var code = this.currentColor ? this.colors[this.currentColor - 1].symbol + '1' : '00'
        console.log(code)

        this.$http.post('/serialport', {
          code: code
        })
        .then(function (response) {
          console.log(response.body);
        })
        .catch(function (error) {
          console.log(error);
        });
      }
    }
  }
</script>

<style scoped>
  .light-container .icon {
    line-height: 40px;
  }
</style>
