<template>
  <v-card>
    <v-card-title class="headline">{{ name }}</v-card-title>
    <v-divider></v-divider>

    <div class="lock-container pa-4">
      <v-switch
        :label="`${lockStatus ? 'Otwarty' : 'Zamknięty'}`"
        v-model="lockStatus"
      ></v-switch>
    </div>

  </v-card>
</template>

<script>
  export default {
    name: 'lock-controller',
    data() {
      return {
        name: 'Zamek',
        lockStatus: false
      }
    },
    watch: {
      lockStatus() {
        var code = this.lockStatus ? 'l1' : '00'
        console.log(code)

        this.$http.post('/serialport', {
          code: code
        })
        .then(function (response) {
          console.log(response.body);
        })
        .catch(function (error) {
          console.log(error);
        });
      }
    }
  }
</script>

<style scoped>

</style>
