<template>
  <v-container grid-list-lg>
    <v-layout row wrap>

      <v-flex xs12>
        <v-card>
          <v-card-title class="headline">Gniazdka</v-card-title>
          <v-divider></v-divider>

          <v-layout row wrap>
            <v-flex xs4 class="mt-2">
              <v-btn color="success" flat @click="addPlugForm"><v-icon light>add</v-icon> Nowe gniazdko</v-btn>
            </v-flex>

            <template v-if="plugFormVisible">
              <v-flex xs4>
                <v-select
                  :items="newPlugs"
                  :rules="[v => !!v || 'Wymagane']"
                  v-model="selectedPlug"
                  label="Wybierz gniazdko"
                  single-line
                  append-icon="fa-caret-down"
                  bottom>
                </v-select>
              </v-flex>

              <v-flex xs4 class="mt-2">
                <v-btn flat @click="addPlug" v-show="selectedPlug">Dodaj</v-btn>
              </v-flex>
            </template>
          </v-layout>

          <v-layout>
            <v-flex xs12 class="pb-0">
              <v-expansion-panel focusable>
                <v-expansion-panel-content v-for="plug in plugs" :key="plug.deviceId">
                  <div slot="header">{{ plug.alias }}</div>
                  <v-card>
                    <v-card-actions class="pa-4">
                      <plug :plug="plug"></plug>
                    </v-card-actions>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import _ from 'lodash'

  import { VueInstance } from '../main.js'

  import Plug from './PlugController'

  export default {
    nameplugFormVisible: 'plugs-controller',
    components: { Plug },
    data() {
      return {
        name: 'PlugsController',
        plugFormVisible: false,
        newPlugs: [],
        selectedPlug: null,
        plugs: []
      }
    },
    methods: {
      addPlugForm() {
        this.$http.get('/networks')
          .then(response => {
            this.newPlugs = _.map(_.filter(response.data, wifi => wifi.ssid.startsWith('TP-LINK_Smart')), 'ssid')
          })
          .catch(error => {
            // console.log(error)
          })
        this.plugFormVisible = true
      },

      addPlug() {
        if (VueInstance.network && this.selectedPlug) {
          var plugParams = {
            'ssid': this.selectedPlug,
            'password': ''
          }

          this.$http.post('/networks', plugParams)
            .then(response => {
              this.$http.post('/plugs/connect', VueInstance.network)
                .then(response => {
                  console.log(response)
                })
                .catch(error => {
                  // console.log(error)
                })
            })
            .catch(error => {
              // console.log(error)
            })
        }
      }
    },
    created() {

      this.$http.get('/plugs')
        .then(response => {
          // console.log(response)
          this.plugs.push(response.data)
        })
        .catch(error => {
          // console.log(error)
        })
    }
  }
</script>

<style scoped>
  .plug-name {
    position: relative;
    top: -16px;
  }
</style>
