<template>
  <v-layout row wrap>
    <v-flex xs3>
      <v-switch
        :label="`Zasilanie: ${switchControl ? 'ON' : 'OFF'}`"
        v-model="switchControl"
      ></v-switch>
    </v-flex>

    <v-flex xs3>
      <v-switch
        :label="`LED: ${ledState ? 'ON' : 'OFF'}`"
        v-model="ledState"
      ></v-switch>
    </v-flex>

    <v-flex xs6>
      <div class="plug-name">
        <v-text-field
          :id="`plug_${plug.deviceId}`"
          v-model="plug.alias"
          :rules="nameRules"
          label="Nazwa"
          @click="openKeyboard"
        ></v-text-field>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import { KeyboardBus } from '../main.js'

  export default {
    name: 'plug',
    props: ['plug'],
    data() {
      return {
        nameRules: [
          v => !!v || 'Nazwa jest wymagana',
          v => (v && v.length <= 16) || 'Nazwa nie dłuższa niż 16 znaków'
        ],
        switchControl: this.plug.relay_state,
        ledState: !this.plug.led_off
      }
    },
    watch: {
      switchControl(val) {
        var params = {
          ip: this.plug.host
        }

        this.$http.post('/plugs/switch', params)
          .then(function (response) {
            // console.log(response.data);
          })
          .catch(function (error) {
            // console.log(error);
          })
      },

      ledState(val) {
        var params = {
          ip: this.plug.host,
          led: val
        }

        this.$http.post('/plugs/led', params)
          .then(function (response) {
            // console.log(response.data);
          })
          .catch(function (error) {
            // console.log(error);
          })
      }
    },
    created() {
      console.log(this.plug)
      var plugBusName = 'plug_' + this.plug.deviceId

      KeyboardBus.$on(plugBusName, (text) => {
        this.plug.alias = text

        var params = {
          ip: this.plug.host,
          alias: text
        }

        this.$http.post('/plugs/alias', params)
          .then(function (response) {
            // console.log(response.data);
          })
          .catch(function (error) {
            // console.log(error);
          })
      })
    },
    methods: {
      openKeyboard(event) {
        KeyboardBus.$emit('keyboard-open', {
          isOpen: true,
          target: event.target,
          inputRules: this.nameRules
        })
      }
    }
  }
</script>

<style scoped>
  .plug-name {
    position: relative;
    top: -16px;
  }
</style>
