<template>
  <v-container grid-list-lg>
    <v-layout row wrap>

      <v-flex xs12>
        <v-card>
          <v-card-title class="headline">Ustawienia</v-card-title>
          <v-divider></v-divider>

          <v-layout justify-center row>
            <v-flex xs6 v-if="isConnected">
              <h3 class="network-header">Połączono z siecią</h3>

              <div class="text-xs-center pa-3">
                <v-icon large>network_wifi</v-icon>
                <h4 class="network-name">{{ networkName }}</h4>

                <div class="ma-4">
                  <v-btn color="error" @click="disconnect">Rozłącz</v-btn>
                </div>
              </div>

              
            </v-flex>

            <v-flex xs6 v-else>
              <h3 class="network-header">Połącz</h3>

              <div class="text-xs-center px-3">
                <v-select
                  :items="networks"
                  :rules="[v => !!v || 'Nazwa sieci jest wymagana']"
                  v-model="ssid"
                  label="Wybierz sieć"
                  single-line
                  append-icon="fa-caret-down"
                  bottom>
                </v-select>

                <v-text-field
                  label="Wprowadź hasło"
                  hint="Zostaw puste jeśli brak hasła"
                  :append-icon="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                  :append-icon-cb="() => (isPasswordVisible = !isPasswordVisible)"
                  :type="isPasswordVisible ? 'text' : 'password'"
                  v-model="password">
                </v-text-field>

                <v-btn color="primary" @click="connect">Połącz</v-btn>
              </div>
            </v-flex>
          </v-layout>

        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import _ from 'lodash'

  import { VueInstance } from '../main.js'

  export default {
    name: 'sttings-controller',
    data() {
      return {
        name: 'Ustawienia',
        isConnected: false,
        networkName: '',
        networks: [],
        ssid: '',
        password: '',
        isPasswordVisible: false
      }
    },
    methods: {
      disconnect() {
        this.$http.delete('/networks/self')
          .then(response => {
            this.isConnected = false
            this.networkName = ''
          })
      },
      connect() {
        var params = {
          'ssid': this.ssid,
          'password': this.password
        }

        if (this.ssid) {
          this.$http.post('/networks', params)
            .then(response => {
              VueInstance.network = params
              this.networkName = params.ssid
              this.isConnected = true
              console.log(VueInstance)
            })
            .catch(error => {
              console.log(error)
            })
        }

      }
    },
    created() {
      this.$http.get('/networks/self')
        .then(response => {
          if (response.data.length === 1) {
            this.isConnected = true
            this.networkName = response.data[0].ssid

          } else {
            this.isConnected = false
          }
        })
        .catch(error => {
          console.log(error)
        })

      this.$http.get('/networks')
        .then(response => {
          this.networks = _.map(response.data, 'ssid')
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
</script>

<style scoped>
.network-header {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 48px;
  margin-top: 2rem;
}

.network-name {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 0 0 20px;
}
</style>
