<template>
  <v-layout row wrap justify-center>
    <v-flex md6 class="text-xs-center centered">
      <weather-widget city="Kraków"></weather-widget>
    </v-flex>
    <v-flex md6 class="text-xs-center centered">
      <clock-widget></clock-widget>
    </v-flex>
  </v-layout>
</template>

<script>
  import ClockWidget from './Widgets/Clock'
  import WeatherWidget from './Widgets/Weather'

  export default {
    name: 'welcome',
    components: { ClockWidget, WeatherWidget },
  }
</script>

<style scoped>
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>
