<template>
  <div id="app">
    <v-app light>
      <div class="app-body pa-3">
        <router-view></router-view>
      </div>
      <v-bottom-nav :value="true" absolute color="white">
        <v-btn v-for="item in items" flat color="teal" :to="item.to">
          <span>{{ item.title }}</span>
          <v-icon>{{ item.icon }}</v-icon>
        </v-btn>
      </v-bottom-nav>

      <keyboard-dialog></keyboard-dialog>
    </v-app>
  </div>
</template>

<script>
  import KeyboardDialog from './components/KeyboardDialog'

  export default {
    name: 'ctapp',
    components: { KeyboardDialog },
    data: () => ({
      items: [
        { icon: 'home', title: 'Start', to: '/' },
        { icon: 'videogame_asset', title: 'Biurko', to: '/desk' },
        { icon: 'power', title: 'Gniazdka', to: '/plugs' },
        { icon: 'settings', title: 'Ustawienia', to: '/settings' }
      ]
    })
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');

  @import url('../../node_modules/weather-icons/css/weather-icons.min.css');
  @import url('../../node_modules/font-awesome/css/font-awesome.min.css');

  /* @import url('./assets/forms.css'); */

  /* Global CSS */
  html { overflow-y: hidden; }

  .app-body {
    max-height: 424px;
    max-width: 800px;
    overflow-y: auto;
  }

</style>
